.dog-item {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.dog-image-container {
  width: 100px;
  height: 70px;
  margin-right: 10px;
}
.dog-image {
  object-fit: cover;
  width: 100px;
  height: 70px;
  border-radius: 5px;
}
.dog-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}
